// Layout utils

.u-container {
  padding: 0 var(--gutter);
  box-sizing: border-box;
  max-width: $max-width;
  margin: 0 auto;
}

// Spacer utils

.u-spacer-xs {
  display: block;
  width: 100%;
  height: 36px;
  @media screen and (max-width: $break) {
    height: 27px;
  }
}

.u-spacer-sm {
  display: block;
  width: 100%;
  height: 54px;
  @media screen and (max-width: $break) {
    height: 45px;
  }
}

.u-spacer-md {
  display: block;
  width: 100%;
  height: 81px;
  @media screen and (max-width: $break) {
    height: 54px;
  }
}

.u-spacer-lg {
  display: block;
  width: 100%;
  height: 126px;
  @media screen and (max-width: $break) {
    height: 99px;
  }
}

.u-spacer-xl {
  display: block;
  width: 100%;
  height: 270px;
  @media screen and (max-width: $break) {
    height: 180px;
  }
}

// Text utils

.u-no-margin {
  margin: 0;
}

.u-heading-xl {
  font-size: 5.5em;
  // letter-spacing: -1.5px;
  line-height: 1.2;
  @media screen and (max-width: $break) {
    font-size: 3.6em;
  }
}

.u-heading-lg {
  font-size: 3.5em;
  // letter-spacing: -1.17px;
  line-height: 1.15;
  @media screen and (max-width: $break) {
    font-size: 2.8em;
  }
}

.u-text-label {
  letter-spacing: 1px;
  color: var(--shade3);
}

.u-text-xs {
  font-size: 0.875em;
}

.u-text-sm {
  font-size: 0.9375em;
}

.u-text-lg {
  font-size: 1.0625em;
}

.u-text-xl {
  font-size: 1.125em;
}

.u-link {
  color: var(--accent);
  &:hover {
    text-decoration: underline;
  }
}

// Indent utils

.u-indent-1 {
  padding-left: 2em;
}

.u-indent-2 {
  padding-left: 4em;
}

// Level utils
.u-level-1 {
  box-shadow: 0 1px 0 0 rgba(40, 42, 48, 0.07), 0 1px 4px 0 rgba(0, 0, 0, 0.05),
    0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

// Background Utils

.u-bg-lighter {
  background: var(--lighter);
}

.u-bg-darker {
  background: var(--darker);
}
