// ROOT FONT PROPERTIES
// -------------------------------------

:root {
  font-family: adobe-text-pro, times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-size: 16px;
  @media screen and (max-width: $break) {
    font-size: 14px;
  }
}

// DEFAULT TYPO STYLES
// -------------------------------------

h1.displayType {
  font-family: typeka;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8125rem; // 61px
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.18; // 72px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

h1.displayHand {
  font-family: felt-tip-roman;
  font-weight: 400;
  font-style: normal;
  font-size: 3.8125rem; // 61px
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.18; // 72px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

h1 {
  font-family: adobe-text-pro;
  font-size: 2.4375rem; // 39px
  font-weight: 700;
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.384; // 54px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

h2 {
  font-family: adobe-text-pro;
  font-size: 1.953rem; // 31.25px
  font-weight: 700;
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.44; // 45px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

h3 {
  font-family: adobe-text-pro;
  font-size: 1.5625rem; // 25px
  font-weight: 700;
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.44; // 36px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

h4 {
  font-family: adobe-text-pro;
  font-size: 1.25rem; // 20px
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.35; // 27px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

h5 {
  font-family: adobe-text-pro;
  font-size: 1.0625rem; // 17px
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.412; // 24px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

h6 {
  font-family: adobe-text-pro;
  font-size: 14px;
  color: hsla(225, 30%, 15%, 1);
  line-height: 1.5; // 45px
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

p {
  font-family: adobe-text-pro;
  font-size: 1.125rem; // 18px
  color: hsla(225, 30%, 15%, 0.85);
  line-height: 1.5; // 27px
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.2px;
}

p.hand,
a.hand,
blockquote p {
  font-family: felt-tip-roman;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem; // 18px
  color: hsla(225, 30%, 15%, 0.85);
  line-height: 2; // 36px
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.2px;
}

ul,
ol {
  padding-left: 27px;
}

li {
  padding-left: 9px;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote {
  margin: 5rem 0;
  padding: 0;
}

table {
  line-height: 1.625;
}
